<mat-card class="customer-card">
	<form [formGroup]="customerForm" (ngSubmit)="submitCustomerForm()">
		<mat-card-header>
			<mat-card-title>Add customer</mat-card-title>
		</mat-card-header>
		<mat-card-content>

			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Customer Name</mat-label>
				<input matInput formControlName="name" />
			</mat-form-field>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Customer Mobile</mat-label>
				<input matInput formControlName="mobile" />
			</mat-form-field>

		</mat-card-content>
		<mat-card-actions>
			<button mat-flat-button color="primary" type="submit">SUBMIT</button>
		</mat-card-actions>
	</form>
</mat-card>


<table mat-table [dataSource]="customerData" class="mat-elevation-z2">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef>#</th>
		<td mat-cell *matCellDef="let element; let i = index">
			{{i+1}}
		</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>

	<ng-container matColumnDef="mobile">
		<th mat-header-cell *matHeaderCellDef> Mobile </th>
		<td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
	</ng-container>

	<ng-container matColumnDef="noOfOrders">
		<th mat-header-cell *matHeaderCellDef> # of Orders </th>
		<td mat-cell *matCellDef="let element"> {{element.noOfOrders}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>