<mat-card class="order-card">
	<form [formGroup]="orderForm" (ngSubmit)="submitOrderForm()">
		<mat-card-header>
			<mat-card-title>Add order</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Customer</mat-label>
				<select matNativeControl required formControlName="customerId" >
					<option *ngFor="let i of customers" [value]="i._id">{{i.name}}</option>
				</select>
			</mat-form-field>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Price</mat-label>
				<input matInput formControlName="price" />
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button mat-flat-button color="primary" type="submit">SUBMIT</button>
		</mat-card-actions>
	</form>
</mat-card>


<table mat-table [dataSource]="orderData" class="mat-elevation-z2">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef>#</th>
		<td mat-cell *matCellDef="let element; let i = index">
			{{i+1}}
		</td>
	</ng-container>

	<ng-container matColumnDef="price">
		<th mat-header-cell *matHeaderCellDef> Price </th>
		<td mat-cell *matCellDef="let element"> {{element.price}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>